@import url(https://fonts.googleapis.com/css?family=Cairo:400,300,700);



<<<<<<< HEAD
/*
 * RESET
 */
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}nav ul{list-style-type:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
 * } RESET
 */

html {
    min-height: 100%;
    position: relative;
    }

body{
    background-color: #EFEBE9;
    font-family: Cairo, Helvetica, Arial, sans-serif;
    color: #212121;
    margin: 0 0 100px; /*Footer margin*/
    }


/*
    HERO SECTION

                */
.ca-hero{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    }

.ca-hero h1 {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    line-height: 180px;
=======
/*
 * RESET 
 */
	a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}nav ul{list-style-type:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*
 * } RESET 
 */

html {
    min-height: 100%;
    position: relative;
    }

body{
    background-color: #EFEBE9;
    font-family: Cairo, Helvetica, Arial, sans-serif;
    color: #212121;
    margin: 0 0 100px; /*Footer margin*/
    }


/*
    HERO SECTION
 
                */
.ca-hero{
    padding-top: 100px;
    text-align: center;
    margin-bottom: 40px;
    position: relative;
    }

.ca-hero h1 {
    margin: 0 auto;
    width: 180px;
    height: 180px;
    line-height: 180px;
    font-size: 100px;
    margin-bottom: 80px;
    position: relative;
    }

.ca-hero span{
    opacity: 0;
    animation: introLogo 1.5s forwards;
    animation-delay: 1.5s;
    }
    @keyframes introLogo{
        to{
            opacity:1;
        }
    }

.ca-decoration{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 45px;
    left: -10px;
    border-left: 8px solid transparent;
    animation: revealBorderLeft 1s forwards;
    animation-delay: 2.3s;
    }
    .ca-decoration:before{
        position: absolute;
        width: 100px;
        height: 90px;
        left: -8px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 8px solid transparent;
        animation: revealBorderTop 1s forwards;
        animation-delay: 2s;
        }
    .ca-decoration:after{
        position: absolute;
        width: 100px;
        height: 90px;
        top:-7px;
        left:-4px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 8px solid transparent;
        animation: revealBorderBottom 1s forwards;
        animation-delay: 2.6s;
        }

        @keyframes revealBorderTop{
            to{
                border-top: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderBottom{
            to{
                border-bottom: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderLeft{
            to{
                border-left: 8px solid #4DB6AC;
            }
        }
        

.ca-decorationSubtle{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: -20px;
    border-left: 3px solid #6D4C41;
    animation: introSubtle 1.5s forwards ease;
    }
    .ca-decorationSubtle:before{
        position: absolute;
        width: 110px;
        height: 100px;
        left: -3px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 3px solid #6D4C41;
        }
    .ca-decorationSubtle:after{
        position: absolute;
        width: 110px;
        height: 100px;
        top:-2px;
        left: 3px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 3px solid #6D4C41;
        }
        @keyframes introSubtle{
            from{
                opacity: 0;
                transform: rotate(0);
            }

            50%{
               transform: rotate(0);
               opacity: 1; 
            }
            to{
                transform: rotate(360deg);
                transform-origin: 110px 50px;
            }
        }

.ca-hero h2{
    font-size: 40px;
    font-weight: 300;
    opacity: 0;
    animation : introName 4s forwards;
    animation-delay: 2.5s;
    letter-spacing: 2px;
    }
    @keyframes introName{
        from{
            transform: translateY(-75px);
        }
        
       to{
            opacity:1;
        }
    }






/*
    ABOUT ME 
                */

/* Button styles */
.panelButton {
    height: 50px;
    width: 50px;
    left: 50%;
    margin-bottom: 50px;
    display: inline-block;
    background-image: url(ui-img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    opacity: .4;
    cursor: pointer;
    position: relative;
    transform: translate(-50%);
    transition: all .5s;
    }
    .panelButton:hover {
        opacity: 1;
        }

.panelButton:not(.rotated):before {
    content:'Who am I?';
    height: 50px;
    line-height: 60px;
    font-size: 18px;
    width: 200px;
    text-align: center;
    position: absolute;
    left: 52%;
    top: 30px;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity .5s;
    }
    .panelButton:hover:before {
        opacity: 1;
    }

.rotated {
    transform: translate(-50%) rotate(-180deg);
    }

/*Panel styles*/
.ca-aboutPanel {
    background-color: #FFFEFD;
    height: 800px;
    display: none;
    text-align: center;
    padding: 50px 50px;
    }

.ca-aboutPanel h2{
>>>>>>> origin/master
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4DB6AC
    }
<<<<<<< HEAD

.ca-hero span{
    opacity: 0;
    animation: introLogo 1.5s forwards;
    animation-delay: 1.5s;
    }
    @keyframes introLogo{
        to{
            opacity:1;
        }
=======

.ca-aboutPanel h3{
    font-size: 60px;
>>>>>>> origin/master
    }
    .ca-aboutPanel > h3 > span{
    font-weight: 700;

<<<<<<< HEAD
.ca-decoration{
    position: absolute;
    width: 90px;
    height: 90px;
    top: 45px;
    left: -10px;
    border-left: 8px solid transparent;
    animation: revealBorderLeft 1s forwards;
    animation-delay: 2.3s;
    }
    .ca-decoration:before{
        position: absolute;
        width: 100px;
        height: 90px;
        left: -8px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 8px solid transparent;
        animation: revealBorderTop 1s forwards;
        animation-delay: 2s;
        }
    .ca-decoration:after{
        position: absolute;
        width: 100px;
        height: 90px;
        top:-7px;
        left:-4px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 8px solid transparent;
        animation: revealBorderBottom 1s forwards;
        animation-delay: 2.6s;
        }

        @keyframes revealBorderTop{
            to{
                border-top: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderBottom{
            to{
                border-bottom: 8px solid #4DB6AC;
            }
        }
        @keyframes revealBorderLeft{
            to{
                border-left: 8px solid #4DB6AC;
            }
        }


.ca-decorationSubtle{
    position: absolute;
    width: 100px;
    height: 100px;
    top: 40px;
    left: -20px;
    border-left: 3px solid #6D4C41;
    animation: introSubtle 1.5s forwards ease;
    }
    .ca-decorationSubtle:before{
        position: absolute;
        width: 110px;
        height: 100px;
        left: -3px;
        content: '';
        transform: rotate(-30deg);
        transform-origin: 0 0;
        border-top: 3px solid #6D4C41;
        }
    .ca-decorationSubtle:after{
        position: absolute;
        width: 110px;
        height: 100px;
        top:-2px;
        left: 3px;
        content: '';
        transform: rotate(30deg);
        transform-origin: 0 90px;
        border-bottom: 3px solid #6D4C41;
        }
        @keyframes introSubtle{
            from{
                opacity: 0;
                transform: rotate(0);
            }

            50%{
               transform: rotate(0);
               opacity: 1;
            }
            to{
                transform: rotate(360deg);
                transform-origin: 110px 50px;
            }
        }

.ca-hero h2{
    font-size: 40px;
    font-weight: 300;
    opacity: 0;
    animation : introName 4s forwards;
    animation-delay: 2.5s;
    letter-spacing: 2px;
    }
    @keyframes introName{
        from{
            transform: translateY(-75px);
        }

       to{
            opacity:1;
        }
    }






/*
    ABOUT ME
                */

/* Button styles */
.panelButton {
    height: 50px;
    width: 50px;
    left: 50%;
    margin-bottom: 50px;
=======
    }

.ca-aboutPanel h4{
    font-size: 35px;
    color:#666;
    margin-bottom: 60px;
    }

.ca-aboutPanel p{
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    }

.ca-portrait {
>>>>>>> origin/master
    display: inline-block;
    opacity: .3;
    vertical-align: top;
    }
<<<<<<< HEAD
    .panelButton:hover:before {
        opacity: 1;
    }

.rotated {
    transform: translate(-50%) rotate(-180deg);
    }

/*Panel styles*/
.ca-aboutPanel {
    background-color: #FFFEFD;
    height: 800px;
    display: none;
    text-align: center;
    padding: 50px 50px;
    }

.ca-aboutPanel h2{
    font-size: 100px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #4DB6AC
    }

.ca-aboutPanel h3{
    font-size: 60px;
    }
    .ca-aboutPanel > h3 > span{
    font-weight: 700;

    }

.ca-aboutPanel h4{
    font-size: 35px;
    color:#666;
    margin-bottom: 60px;
    }

.ca-aboutPanel p{
    font-size: 20px;
    text-align: left;
    line-height: 30px;
    }

.ca-portrait {
    display: inline-block;
    opacity: .3;
    vertical-align: top;
    }

.ca-columnP {
    display: inline-block;
    width:40%;
    border-left: 3px solid #4DB6AC;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: top;
    }

/*
    FOOTER SECTION

                    */

.ca-footerContact{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #009688;
    opacity: 0;
    animation: reveal 1s forwards;
    animation-delay: 2.5s;
    text-align: center;
    }
    @keyframes reveal{
           to{
                opacity:1;
            }
        }

.ca-footerContact:before{
    content: '';
    position: absolute;
    width: 100%;
	height: 60px;
    top:-30px;
    left: 0;
    background-color: #009688;
    transform: skewY(1deg);
    z-index: -1;
    }

.ca-footerContact li{
=======

.ca-columnP {
>>>>>>> origin/master
    display: inline-block;
    width:40%;
    border-left: 3px solid #4DB6AC;
    padding-left: 20px;
    margin-left: 10px;
    vertical-align: top;
    }
<<<<<<< HEAD
    .ca-footerContact li:hover{
    display: inline-block;
    margin: 0 5px;
    opacity: 1
}




=======

/*
    FOOTER SECTION

                    */

.ca-footerContact{
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
    background-color: #009688;
    opacity: 0;
    animation: reveal 1s forwards;
    animation-delay: 2.5s;
    text-align: center;
    }
    @keyframes reveal{
           to{
                opacity:1;
            }
        }

.ca-footerContact:before{
    content: '';
    position: absolute;
    width: 100%;
	height: 60px;
    top:-30px;
    left: 0;
    background-color: #009688;
    transform: skewY(1deg);
    z-index: -1;
    }

.ca-footerContact li{
    display: inline-block;
    margin: 0 5px;
    opacity: .6;
    transition: all .5s;
    }
    .ca-footerContact li:hover{
    display: inline-block;
    margin: 0 5px;
    opacity: 1
}




>>>>>>> origin/master
